<div class="container_16 padding50">
<div class="grid_16">
</div>


<div class="joinstep2">
<div class="hometitle2">Wonderful, only one step left to becoming a member</div>
<div class="lines"></div>
<div class="productdata">


<script type="text/javascript" charset="utf-8">
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));

twttr.ready(function(twttr) { 

<%# Bind this to tweet event - unfortunately twitter returns no data unless user authorizes app. %>
<%# Design decision to use JS twitter button (no login) vs. twitter api %>

twttr.events.bind('tweet', function(event) {
	var f = document.forms[0];
	document.getElementById("medium").value = "Twitter";
	
	f.submit();
	}
);	 });
	

</script>
<p>Share your accomplishment with your friends on Twitter or Facebook:</p>

<%= form_tag(project_shares_path(@project), :method => "post") do %> 
	<%= hidden_field_tag(:user_id, @user.id) %>
	<%= hidden_field_tag(:project_id, @project.id )%>	
	<%= hidden_field_tag(:medium, nil )%>
	
<% end %>

<%= link_to image_tag("shareontwitter.png"), "https://twitter.com/intent/tweet?url=" + @query %>
<a href = <%= @facebook_link %>  > <%= image_tag "shareonfacebook.png" %> </a>

</ul>
</div>
</div>
</div>


