<%= stylesheet_link_tag "bootstrap.css" %>

<script type = "text/javascript">
function setValue(button, target) {

$(target).val(button.attr('name'));
button.closest('p').find('.btn-primary').removeClass('btn-primary');
button.addClass('btn-primary');

return false;
}

</script>




<div class="grid_11 singleleft">


<div class="projectbox">
<fieldset class = "control-group">
<%= simple_form_for @user, :validate => true, :html => { :multipart => true } do |f| %>

	<h2>Edit Profile</h2>
	<hr>
	
<p><%= f.input :biography, :label => "Short bio", :hint => "Tell us about yourself in under 140 characters" %> </p>   
<p> 
<%= f.hidden_field :category %>
	<label>I am a...</label>
	<a class = "btn btn-primary" name = "Author"  onClick="setValue($(this), '#category')">Author</a>
	<a class = "btn"  name = "Artist" onClick="setValue($(this), '#category')">Artist</a>
	<a class = "btn"  name = "Entrepreneur" onClick="setValue($(this), '#category')">Entrepreneur</a>
	<a class = "btn"  name = "Musician" onClick="setValue($(this), '#category')">Musician</a>
	<a class = "btn"  name = "Organization" onClick="setValue($(this), '#category')">Organization</a>
	<a class = "btn"  name = "Teacher/Instructor" onClick="setValue($(this), '#category')">Teacher/Instructor</a>
	
	
	<hr> 
 <%= f.submit :class => "btn btn-success btn-large"	 %> </p>

 
<% end %>    

</fieldset>
</div>
</div>





