<%= stylesheet_link_tag "zocial.css" %>
<br/>
<div class="cleanloginbox">
	<div class="logintitle" align="center">Sign up for Narrately</div>
	<div class="lines"></div>

	<div class="logininfo" align="center">
		<br /> 
		<a href = "auth/facebook">
			<button class='zocial facebook'>
				<span>Sign up with Facebook</span>
			</button></a>			
			<a href = "auth/facebook"><%= image_tag "signupfb.png" %> </a>	
			<a href = "auth/twitter"><%= image_tag "signuptw.png" %> </a>	
			
			<a href = "auth/facebook">
			<button class='zocial facebook'>
				<span>Sign up with Facebook</span>
			</button></a>
		
		<p div class="p2"><b>- Or -</b></p>
		Register with your email address:
		<%= form_tag "/auth/identity/register" do%>
			<% if @identity && @identity.errors.any? %>
				<div class="error_messages">
				<h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
				<ul>
				<% @identity.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
				</div>
			<% end %>
			<fieldset>
				<div class = "field">
					<%= label_tag :email, "Email" %><br/>
					<%= text_field_tag :email, @identity.try(:email), :class => "text"%> 
				</div>
				<div class = "field">
					<%= label_tag :password %><br>
					<%= password_field_tag :password, :class => "text" %>
				</div>
				<div class="field">
					<%= label_tag :password_confirmation %><br>
					<%= password_field_tag :password_confirmation %>
				</div>
					<%= submit_tag "Register" , :class=> "btn btn-large" %> 
			</fieldset>
		<% end %>
	</div>
</div>
