<div class="container_16 padding50">
<div class="grid_16">
</div>


<div class="grid_11 singleleft">
<div class="myprojectbox">
<div class="bigtitle">My Projects</div><%= link_to "Launch a new project with Narrately", new_project_path %>

<div class="lines"></div>

<div class="grid_12">


<ul class="mycreatedprojects">
<li>


<% @projects.each do |p| %>
<li>
<%= link_to image_tag(p.project.project_image.url(:medium), :class => "fimg2"), p.project %>
<% p.left = p.promotion_limit - p.shares.length %>
	<% if p.left > && p.active   %>
	<span class="live"><span class="oldprice">LEFT</span><%= p.left %></span>
	<% elsif left == 0 && p.active %>
	<span class="goalmet"><span class="oldprice">GOAL</span>MET</span>
	<% else %>
	<span class ="pending"><span class="oldprice">PENDING</span></span>
<%= link_to @project.title, @project, :class => "projecttitle" %>
</li>
<% end unless @projects.nil?%>
</ul>



</div>
</div>


<div class="mysharesbox">
<div class="bigtitle">My Shares</div>
<div class="lines"></div>
<div class="grid_12">

<ul class="mysharedprojects">
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youveshared"><span class="oldprice">SHARED</span></span>
<span class="projecttitle"><href="">Adidas shoes my titles..</></span>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youveshared"><span class="oldprice">SHARED</span></span>
<span class="projecttitle"><href="">Adidas shoes my titles..</></span>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youveshared"><span class="oldprice">SHARED</span></span>
<span class="projecttitle"><href="">Adidas shoes my titles..</></span>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youveshared"><span class="oldprice">SHARED</span></span>
<span class="projecttitle"><href="">Adidas shoes my titles..</></span>
</li>
</ul>

<ul class="featprod grayprod cat">

<% @shares.first(3).each do |s| %>
<li>
<%= link_to image_tag(s.project.project_image.url, :class => "fimg2", :width => "200", :height => "135"), s.project%>
<span class="smalltitle"><%= link_to s.project.project_title, s.project %></span>
</li>
<% end unless @shares.nil?%>

</ul>

</div>
</div>





</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">
<% if @user.profile_image %>
<%= image_tag @user.profile_image, :title=> "facebook", :width=> "220", :height=> "220", :class=> "alignnone size-full wp-image-16236" %>
<% end %>
<h2><%= @user.name %></h2>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<ul>
<li><a href="https://www.facebook.com/alex.h.frey">Facebook</a></li>
<li><a href="https://twitter.com/#!/alexhfrey">Twitter</a></li>
</ul>
</div>
</div>
</div>
</div>


</div>