<h1>User Dashboard</h1>
<h2><%= @user.name %>

<p>Find me in app/views/users/show.html.erb</p>
<p>I have <%= @user.projects.length %> projects on Narrately </p>
<% if current_user %>
	Welcome <%= current_user.name %>
	<%= link_to "Sign Out", signout_path %>
	<% else %>
		<%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<% end %>

