<div class="container_16 padding50">
<div class="grid_16">
</div>


<div class="grid_11 singleleft">
<div class="myprojectbox">
<div class="bigtitle">My Projects</div>
<div class="lines"></div>
<div class="productdata">
<p>I have <%= @user.projects.length %> projects on Narrately </p>
<%= link_to "Launch a new project with Narrately", new_project_path %>

<ul class="featprod grayprod cat">
<li>
<% if @first_project %>
<span class="smalltitle"><%=link_to @first_project.project_title, @first_project %></span>
<%= link_to image_tag(@first_project.project_image.url, :class => "fimg2", :width => "400", :height => "240"), @first_project%>
<% end %>
</li>
</ul>
</div>
</div>


<div class="mysharesbox">
<div class="bigtitle">My Shares</div>
<div class="lines"></div>
<div class="productdata">
<ul class="featprod grayprod cat">

<% @shares.first(3).each do |s| %>
<li>
<%= link_to image_tag(s.project.project_image.url, :class => "fimg2", :width => "200", :height => "135"), s.project%>
<span class="smalltitle"><%= link_to s.project.project_title, s.project %></span>
</li>
<% end %>

</ul>


<ul class="griditems">
<li>
<span class="gridimg">
<a href="#"><img src="images/gridcam.png" alt="" /></a>
</span>
<span class="griddetails">
<span class="gridtitle">Nikon Camera <span>Item no.: 1442</span></span>
<span class="gridcontent">
The 30-inch Apple Cinema HD Display delivers an amazing 
2560 x 1600 pixel resolution. Designed specifically for the 
creative professional..
</span>
<span class="gridprice">
<span class="onsale"><span class="oldprice">$6314</span>$199</span>
</span>
</span>
<span class="gridadd"><a href="#">Add to cart</a></span>
<span class="gridcompare"><a href="#">Add to compare list</a></span>
</li>
</ul>

</div>
</div>
</div>


<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">
<% if @user.profile_image %>
<%= image_tag @user.profile_image, :title=> "facebook", :width=> "220", :height=> "220", :class=> "alignnone size-full wp-image-16236" %>
<% end %>
<h2><%= @user.name %></h2>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<ul>
<li><a href="https://www.facebook.com/alex.h.frey">Facebook</a></li>
<li><a href="https://twitter.com/#!/alexhfrey">Twitter</a></li>
</ul>
</div>
</div>
</div>
</div>


</div>