<div class="grid_11 singleleft">
<% if @current_user == @user %> 

<div class="myrewardsbox">
<div class="bigtitle">My Rewards</div>
<div class="lines"></div>
<div class="grid_12">
<ul class="mysharedprojects">
<% @shares .collect {|u| u.project } .each do |s| %>
<li>
<%= image_tag s.file1.url(:medium).to_s, :class => "fimg2" %>
<span class="liveh1"><%= link_to s.project_title.first(30), s %></span>
<hr> 
<div class="boxdownload">
<span class="btn btn-success" align="center"><%= link_to "Download", download_project_path(s), :style => "color:#ffffff;" %></span>
</div>
</li>
<% end %>
</ul>

</div>
</div>
<% end %>

<div class="myprojectbox">
<div class="bigtitle"><%= @user.first_name%>'s Ambaasador Programs</div>
<div class="lines"></div>
<div class="grid_12">
<ul class="mysharedprojects">
<% @projects.each do |p| %>
<li>
<%= render :partial => "shared/projects", :locals => { :user => @user, :p => p } %>
</li>
<% end unless @projects.nil? %>

</ul>
</div>
</div>
<div class="mysharesbox">
<div class="bigtitle"><%= @user.first_name%>'s Ambassador Memberships</div>
<div class="lines"></div>
<div class="grid_12">
<ul class="mysharedprojects">

<% @shares.each do |s| %>
<li>
<%= render :partial => "shared/projects", :locals => { :user => @user, :p => s.project } %>
</li>
<% end %>
</ul>

</div>
</div>
</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">
<% if @user.profile_image.present? %>
<%= image_tag @user.profile_large, :class=> "alignnone size-full wp-image-16236" %>
<% end %>
<h2><%= @user.name %></h2>
<p>
<%= @user.biography %></p>
<p><b>I am a:</b> <%= @user.category %></p>
<ul>
<% if @user.facebook_page.present? %>
<li><a href="<%= @user.facebook_page_link %>" >Facebook</a></li>
<% end %>
<% if @user.twitter_handle.present? %>
<li><%= link_to "Twitter", 'http://www.twitter.com/#!/' + @user.twitter_handle.sub('@', '')%> </li>
<% end %>
</ul>
</div>
</div>
</div>
</div>
