
<% if action.actionable.class.name == "Post" %>
<%=link_to image_tag("facebook-icon.png", :class => "fimg3"), new_action_taken_path(:id => action.id) %>
<div class="brandactions"><h2>Facebook Stalk Us!</h2>


<% elsif action.actionable.class.name == "Like" %>
<%= link_to image_tag("fb_like.png", :class => "fimg3"), new_action_taken_path(:id => action.id) %>
<div class="brandactions"><h2>LIKE..like a Boss</h2>

<% elsif action.actionable.class.name == "Fb_comment" %>
<%= link_to image_tag("fb-comments.png", :class => "fimg3"), new_action_taken_path(:id => action.id)  %>
<div class="brandactions"><h2>We Welcome Comments</h2>




<% elsif action.actionable.class.name == "Tweet" %>
<div class="brandactions" style="background-image: url(http://static1.grsites.com/archive/textures/pink/pink037.gif); background-repeat-y;">
<%= link_to image_tag("twitterbird.png", :class => "fimg3"), new_action_taken_path(:id => action.id) %>
<%= form_tag(new_action_taken_path, :method => "post")%> 
	<%= hidden_field_tag(:action_id, action.id )%>
    <%= text_area_tag(:message) %>
	<%= submit_tag "Submit", :class => "btn btn-success btn-large"	 %> 

<h2>"Tweet this" says that bird...</h2>

<% elsif action.actionable.class.name == "Retweet" %>
<div class="brandactions" style="background-image: url(http://static2.grsites.com/archive/textures/pink/pink052.gif)">
<%= link_to image_tag("twitterbird.png", :class => "fimg3"), new_action_taken_path(:id => action.id) %>
<h2>Retweet Por Favor!</h2>

<% elsif action.actionable.class.name == "Other" %>
<%= image_tag "circle-greenhome.png", :class => "fimg2" %>
<div class="brandactions"><h2>TWEET, TWEET....</h2>

<% else %>
<%= image_tag "circle-greenhome.png", :class => "fimg2" %>
<div class="brandactions"><h2><%= action.actionable.class.name %></h2>

 <%end %>

<p><%= action.prompt %></p></div>
