

<div class="brandactions2">

<h1><%= action.title %></h1>
<div class = "actionprompt">
<p><%= action.prompt %></p>
<% type = action.actionable.type.class.name.downcase %>
<% if type == "tweet" || type == "like" || type == "fb_comment" %>
<p>Our message: <%= action.actionable.message %> </p>
<% end %>
</div>
<div class = "actionprofilepics">
<% action.action_takens .select{|s| s.user.present? } .first(5) .each do |sh| %>
	<span><%= image_tag(sh.user.profile_square) %> </span>
	<% end %>
</div>

<%= link_to "Take Action >",  new_action_taken_path(:id=> action.id), :class => "btn btn-success btn-large" %>

</div>

