

<div class="brandactions2">

<h1><%= action.title %></h1>
<div class = "actionprompt">
<p><%= action.prompt %></p>

<% if (action.actionable.class.name.downcase == "retweet" || action.actionable.class.name.downcase == "like" || action.actionable.class.name.downcase == "fb_comment") %>
<div class = "actionmessage"><p><b>Our message:</b></p>
</p> <%= action.actionable.message %> </p>
</div>
<% end %>
</div>
<% if action.action_takens .length > 0 %>
<p class="actionmembers">Fans who have taken this action</p>
<% end %> 
<div class = "actionprofilepics">
<% action.action_takens .select{|s| s.user.present? } .first(5) .each do |sh| %>
	<span><%= image_tag(sh.user.profile_square) %> </span>
	<% end %>
</div>

<%= link_to "Take Action >",  new_action_taken_path(:id=> action.id), :class => "btn btn-success btn-large" %>

</div>

