<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'/>

        <div class="namebox">
	    <div class="hometitle3"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> Members</p>
	    </div> 
	   </div>
	
<div class="clubbox">
<ul class="nav nav-tabs">
  <li><%= link_to "About", (@project), "data-toggle"=>"tab" %></li>
  <li><%= link_to "Members Home", backers_project_path(@project), "data-toggle"=>"tab" %></li>
  <li class="active"><%= link_to "Updates", actions_project_path(@project), "data-toggle"=>"tab" %></li>
     <% if @user == @creator %>
       <li><%= link_to "Edit", edit_project_path(@project), "data-toggle"=>"tab" %></li>
  <% end %>
</ul>
<%= render 'shared/error_messages' %>
<p><b>Welcome to the 'backers' page for <%= @project.brand_name %></b>.</p>

<p><b>How this works</b><br/>
Awesome brands like <%= @project.brand_name %> need equally awesome supporters to thrive. In today's world, being 
an awesome supporter is about more than just buying a product or using a service - it's about leveraging your social influence
to help spread awesome ideas. Help make <%= @project.brand_name %> a success by completing the missions below - and 
earn access to exclusive rewards and events in the process! </p> 
  <% if @user == @creator %>
		<h2><%= link_to "Publish an update", new_project_action_page_path(@project) %>. Get your fans taking actions that spread the good word.</h2>
  <% else %>
		<h2>Take an action. Show your love. Get awesome stuff.</h2>
  <% end %>
	
</div>

	<div class="discoverbox">
	<ul class="brandactions">

	<% @acts .each do |e| %>
	<div class="brandlogo"><%= image_tag @project.file1_url(:medium) %><%= @project.brand_name %></div>
	<li>
	<%= render :partial => "shared/actions", :locals => {  :action => e } %>
	</li>
	<% end %>
	
  </ul>
  </div>
 
  
  
 
