<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'/>

        <div class="namebox">
	    <div class="hometitle3"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> Members</p>
	    </div> 
	   </div>
	   
	   
<div class="clubbox">
    
</ul>
<%= render 'shared/error_messages' %>
  <h2>Take an action. Show your love. Get awesome stuff.</h2>
   <% if @user == @creator %>
    <%= link_to "Edit", edit_project_path(@project) %>
  <% end %>

</div>

	<div class="discoverbox">
	<ul class="brandactions">

	<% @acts .each do |e| %>
	<div class="brandlogo"><%= image_tag @project.file1_url(:medium) %><%= @project.brand_name %></div>
	<li>
	<%= render :partial => "shared/actions", :locals => {  :action => e } %>
	</li>
	<% end %>
	
  </ul>
  </div>
 
  
  
 
