<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'/>

        <div class="namebox">
	    <div class="hometitle3"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> Members</p>
	    </div> 
	   </div>
	
<div class="clubbox">
<ul class="nav nav-tabs">
  <li><%= link_to "About", (@project), "data-toggle"=>"tab" %></li>
  <li><%= link_to "Members Home", backers_project_path(@project), "data-toggle"=>"tab" %></li>
  <li class="active"><%= link_to "Updates", actions_project_path(@project), "data-toggle"=>"tab" %></li>
     <% if @user == @creator %>
       <li><%= link_to "Edit", edit_project_path(@project), "data-toggle"=>"tab" %></li>
  <% end %>
</ul>
<%= render 'shared/error_messages' %>
  <h2>Take an action. Show your love. Get awesome stuff.</h2>

</div>

	<div class="discoverbox">
	<ul class="brandactions">

	<% @acts .each do |e| %>
	<div class="brandlogo"><%= image_tag @project.file1_url(:medium) %><%= @project.brand_name %></div>
	<li>
	<%= render :partial => "shared/actions", :locals => {  :action => e } %>
	</li>
	<% end %>
	
  </ul>
  </div>
 
  
  
 
