<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
    
       
<div class="container_12 grid_8">




<div class="clubbox">
<div class="namebox">
<div class="hometitle3"><%=  @project.brand_name %> Dashboard
</div> 
</div>
</ul>
<%= render 'shared/error_messages' %>


</div>
  <div class="projectbox">  
  <h2>Your Tribe...</h2>
 <table class = "table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Email</th>
			<th>Actions Taken</th>
			<th>Members Referred</th>
		</tr>	
	</thead>
	<tbody>
		
<% @project.shares .collect {|s| s.user} .uniq .each_with_index do |u, index| %>
		<tr>
			<td> <%= index + 1%></td>
			<td><%= link_to u.name, u %> </td>
			<td><%= u.email %> </td>
			<td><%= u.action_takens .select {|a| a.action_page . project_id.to_s == @project.id .to_s} .length + 1 %> </td>
		<% ref1 = ('fb_' + u.id.to_s + '_' + @project.id.to_s)  
		   ref2 = ('twitter_' + u.id.to_s +  '_' + @project.id.to_s ) %>
		   
			<td><%= User.where("referral_source = '#{ref1}' OR referral_source = '#{ref2}'"). length %> </td>
		</tr>
	<% end %>
	</tbody>
</table>   
    


</div>    


</div>

<div class="grid_right">




<div class="centerbutton">
<h2>What do you want to do today?
<%= link_to "Viral Launch", new_project_release_path(@project), :class => "btn btn-large btn-primary" %>

</div>

     



</div>


  

