<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
       <div class="programtitle"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> Members</p></div> 
	   <div class="lines"></div>
	   
	   <div class="programbox">

    <% if @user == @creator %><span><%= link_to "Edit Project", edit_project_path(@project) %></span>
 <% end %>
    
<ul class="nav nav-pills">
  <li><%= link_to "Home", (@project), "data-toggle"=>"tab" %></li>
  <li><%= link_to "Actions", actions_project_path(@project), "data-toggle"=>"tab" %></li>
  <li><%= link_to "Members", backers_project_path(@project), "data-toggle"=>"tab" %></li>
  <% if @user == @creator %>
  <li><%= link_to "Edit", edit_project_path(@project), "data-toggle"=>"tab" %></li>
  <% end %>
</ul>
<div class="memberspage">
<h3>People who support this brand</h3>
<ul>
<% @shares.each() { |sl| %>
 <%= if sl.user.profile_image? 
 link_to image_tag(sl.user.profile_square), sl.user, :class => "memberspicture"  
 end %> 

 <% } %>
 </ul>
 </div>

    <h3>Say hello to the community!</h3>
  <div class="fb-comments" data-href= <%= request.fullpath %> data-num-posts="2" data-width="470"></div>
    </div> 
  
  
 
