      
<div class="grid_11 singleleft">
	<div class="projectbox">
		<div class="bigtitle">Community Page - <%= @project.project_title %></div> 
		<div class = "caption"></div>

  <div class="lines"></div>
  
  <div class="mainimg" >
			
					
  			<%= image_tag @project.file1_url(:large) %>
			
			
			</div>
  
  
  <div class="productdata">
  <h3>Community Discussion</h3>
  <div class="fb-comments" data-href= <%= request.fullpath %> data-num-posts="2" data-width="470">
  </div>
  </div>
  </div>
  
  
  
  </div>
  
  <div class="grid_4 righthome">
  
  <div class="categorybox" style = "padding-bottom:10px;">
  <div class="sharebox">
  <div class="sharetitle">Actions to take</div>
 
  <div class = "grid_4"> We treat our users like owners. Here's what you can do to make our vision a reality (and <b> get cool stuff in the process! </b>) 
  <ul>
  <li style = "font-size:16px;"><a href = "www.amazon.com"> Leave a review </a> </li>
  <li style = "font-size:16px;"><a href = "www.facebook.com"> Like our post  </a> </li>
  </ul></div> </div> </div>
  
  
  
  <div class="categorybox">
  <div class="authordata">
  <div class="authordatatitle">The Vision</div>
  
	<div class = "grid_4"><%= simple_format @project.description %> </div>
 </div>
 </div>
 <div class="categories-widget">
 <div class="categorybox sellers">
 <div class="backerstitle">Backers</div>
 <ul>
<% @shares.each_slice(4) { |sl| %>
<li>
 <% sl.each do  |s| %>
 <%= if s.user.profile_image? 
 link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user 
 end %>
 <% end %> 
 </li>
 <% } %>
 
 </ul>
 </div>
 </div>
 </div>
 
