<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
       
        <div class="namebox">
        <div class="hometitle3"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> Members</p></div> 	   
    
</div>
	  
<div class="clubbox">
<ul class="nav nav-tabs">
  <li><%= link_to "About", (@project), "data-toggle"=>"tab" %></li>
  <li class="active"><%= link_to "Members Home", backers_project_path(@project), "data-toggle"=>"tab" %></li>
     <% if @user == @creator %>
       <li><%= link_to "Edit", edit_project_path(@project), "data-toggle"=>"tab" %></li>
  <% end %>
</ul>
<%= render 'shared/error_messages' %>

<p><b>Welcome to the 'backers' page for <%= @project.brand_name %></b>. While you are here you may want to 
<a href ="#actions">take an action</a>, check out the <a href = "#members">other members</a>, or <a href = "#community">say hello to the community</a>. </p>
<p><b>How this works</b><br/>
Awesome brands like <%= @project.brand_name %> need equally awesome supporters to thrive. In today's world, being 
an awesome supporter is about more than just buying a product or using a service - it's about leveraging your social influence
to help spread awesome ideas. Help make <%= @project.brand_name %> a success by completing the missions below - and 
earn access to exclusive rewards and events in the process! </p> 
</div>


<div class="projectbox">
<div class="discoverbox">
<h1><a name = "actions"></a>Your actions for <%=Date.today  .strftime("%B %d, %Y")%>. <%= if current_user == @project.user 
						link_to "Publish an Action", new_project_action_page_path(@project) end %></h1>
	<ul class="brandactions">
<% @project.action_pages .first(3).each do |e| %>
	<li>
	<%= render :partial => "shared/actions", :locals => {  :action => e } %>
	</li>
	<% end %>
	
	</ul>	
</div>
</div>






<div class="communitybox">
<h1><a name = "community"></a>Say hello to the community!</h1>
<div class="fb-comments" data-href= <%= request.fullpath %> data-num-posts="2" data-width="430"></div>
</div>  

<div class="projectmembers">
<h1><a name = "members"></a>Club Members</h1>
<ul>
<% @shares.each() { |sl| %>
 <%= if sl.user.profile_image? 
 link_to image_tag(sl.user.profile_square), sl.user, :class => "memberspicture"  
 end %> 
 <% } %>
 </ul>
</div>
  
 
