<%= stylesheet_link_tag "custom.css" %>
<%= stylesheet_link_tag "blueprint/screen.css" %>


<div class = "container">
<h1>Create Project Page</h1>

<div class="span-12">
<%= form_for(@project, :html => { :multipart => true }) do |f| %>
<fieldset>
 <%= render 'shared/error_messages' %>
  

  <div class = "field"><p>
	<%= f.hidden_field :user_id, :value => @user.id %>
   </p></div>
  <p><div class = "field">
    <%= f.label :name, "Project name" %><br />
    <%= f.text_field :project_title, :class => "title" %> <br>
  </p></div>
  <p style = "clear:left"><div class = "field">
    <%= f.label :description, "Project Description" %><br />
    <%= f.text_area :description,  :class => "text" %>
  </p></div>
  <p>
    <%= f.label :purchase_link %><br />
    <%= f.text_field :purchase_link %>
  </p><br/>
  <p>
    <%= f.label :promotion_limit %><br />
    <%= f.text_field :promotion_limit %>
  </p><br/>
  <p>
    <%= f.label :author biography %><br />
    <%= f.text_field :purchase_link %>
  </p><br/>
  <div class = "field">
	<%= select_tag(:tag, options_for_select([['Romance', 1], ['Mystery', 2], ['Business', 3]])) %>
  </div>
  <div class="field"> 
  <%= f.label :project_image, "Project Cover Image" %>
  <%= f.file_field :project_image %>
  </div>
  <div class="field"> 
  <%= f.label :output_file, "Reward File" %>
  <%= f.file_field :output_file %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</fieldset>
</div>

</div>