

<script type = "text/javascript">
function setValue(button, target) {

$(target).val(button.attr('name'));
button.closest('p').find('.btn-primary').removeClass('btn-primary');
button.addClass('btn-primary');

return false;
}

</script>


<%= render 'shared/error_messages' %>

<div class="projectcreatebox">

<fieldset class = "control-group">

<%= simple_form_for @project, :validate => true, :html => { :multipart => true } do |f| %>

	<p class="hometitle4">Create your fan club</p>
	<p class="titlepromo">Need some ideas? Here are some great examples: <a href="http://mysnowball.com/projects/24">Seth Godin</a>, <a href="http://mysnowball.com/projects/23">John Locke</a>, and <a href="http://mysnowball.com/projects/26">Elle Lothlorien</a>.</p>
	<p class="titlepromo">Nedd help? Send us an email: <a href="mailto:support@mysnowball.com">support@mysnowball.com</a>.</p>
	<hr>
	
   <p> <%= f.input :project_title, :label => "Your fan club title",  :input_html => { :class => 'text'} %> </p><p class="helptext">A catchy title that describes you or your work.</p>
   <p> <%= f.input :brand_name, :label => "Your name",  :input_html => { :class => 'text'} %> </p><p class="helptext">This is your full name. For example, 'Seth 'Godin'</p>
   <p><%= f.input :file1, :label => "Add a large Cover Image", :required => false%></p><p class="helptext">Use a creative photo! Ideal dimensions are 600px x 400px.  We accept JPEG and PNG for now with a maximum size of 2 MB.</p>
   <p><%= f.input :description, :label => "Describe fan club (Why Join, who should join, etc.)", :input_html => {:size => "20x11"}%> </p><p class="helptext">What does your brand stand for? Top 3 values?</p>   
 <p> <%= f.input :video, :label => "Add a Youtube video (optional)"%> </p><p class="helptext">This is optional, videos tell a great story! Just enter the Youtube link here. </p>      
	 <%= f.hidden_field :file1_cache %>

 <p> <%= f.input :file2, :required => false, :label => "Give a reward to new fans (optional)"%> </p><p class="helptext">Examples include song download, ebook, digital coupon, etc. Please keep the file size below 10 MB.</p>
 <p> <%= f.input :promotion_description, :label => "What is it you are giving away?", :input_html => {:size => "15x3"}%></p><p class="helptext">Describe what you just uploaded above.</p>
<%= f.hidden_field :file2_cache %>
<br>
 <p> <%= f.submit "Create Club", :class => "btn btn-success btn-large"	 %> </p>

 <% end %>

   

</div>



