<%= stylesheet_link_tag "custom.css" %>


<div class = "container">
<h1>Create Project Page</h1>

<div class="span-12">
<%= form_for(@project, :html => { :multipart => true }) do |f| %>
 <%= render 'shared/error_messages' %>
  

  <div class = "field">
	<%= f.hidden_field :user_id, :value => @user.id %>
   </div>
  <div class="field">
    <%= f.label :name, "Project name" %><br />
    <%= f.text_field :project_title, :class => "title" %>
  </div>
  <div class="field">
    <%= f.label :description, "Describe your project" %><br />
    <%= f.text_area :description,  :class => "text" %>
	
  </div>
  <div class="field">
    <%= f.label :purchase_link %><br />
    <%= f.text_field :purchase_link %>
  </div><br/>
  <div class = "field">
	<%= select_tag(:tag, options_for_select([['Romance', 1], ['Mystery', 2], ['Business', 3]])) %>
  </div>
  <div class="field"> 
  <%= f.label :project_image, "Project Cover Image" %>
  <%= f.file_field :project_image %>
  </div>
  <div class="field"> 
  <%= f.label :output_file, "Reward File" %>
  <%= f.file_field :output_file %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>

<p>Find me in app/views/projects/new.html.erb</p>
</div>