<%= stylesheet_link_tag "bootstrap.css" %>


<div class="container_16 padding50">
<div class="grid_16">
</div>
<%= render 'shared/error_messages' %>
<div class="grid_11 singleleft">

<div class="createwelcome">
<div class="productdata">
<div class="bigtitle">We help creatives promote their work</div>
<div class="grid_top">
<p>Narrately is a social marketing platform which helps authors connect with their fans and promote their books</p>
<p>Display three step process here</p>
</div>
</div>
</div>

<div class="projectbox">
<fieldset class = "control-group ">
	

<%= simple_form_for @project, :validate => true do |f| %>
	<h2>1. Project Details</h2>
	<p>Let your fans know what you're working on - include some basic info here</p>
 
	<%= f.hidden_field :user_id, :value => @user.id %>
 
    <%= f.input :project_title, :label => "Project name",  :input_html => { :class => 'text'} %>

    <%= f.input :description, :error => "Doesn't work"%>
 
	<%= f.input :project_image %>
 
   
	<%= f.input :tag1, :collection => ['romance', 'mystery', 'business'] %>

  <% end %>








    

</div>
</div>



<div class="grid_4 righthome">
<div class="categorybox">
<div class="howitworkscreate">
<h6>How it Works</h6>
<div class="grid_4">
<b>Step 1:</b>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<b>Step 2:</b>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<b>Step 3:</b>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
</div>
</div>
</div>
</div>


</div>