

<script type = "text/javascript">
function setValue(button, target) {

$(target).val(button.attr('name'));
button.closest('p').find('.btn-primary').removeClass('btn-primary');
button.addClass('btn-primary');

return false;
}

</script>


<%= render 'shared/error_messages' %>

<div class="projectcreatebox">

<fieldset class = "control-group">

<%= simple_form_for @project, :validate => true, :html => { :multipart => true } do |f| %>

	<p class="hometitle4">Get Started With Snowball</p>
	<p class="titlepromo">You'll be on your way to growing your movement in minutes. First step is to tell us a little about what you're doing. </p>
	<p class="titlepromo">Need help? Send us an email: <a href="mailto:support@mysnowball.com">support@mysnowball.com</a>.</p>
	<hr>
	
	   <p> <%= f.input :brand_name, :label => "Your name, brand name, or project name",  :input_html => { :class => 'text'} %> </p><p class="helptext">This is your full name. For example, 'Seth 'Godin'</p>
   <p> <%= f.input :project_title, :label => "A catchy title for what you're doing" %> </p>
<br>
 <p> <%= f.submit "Create Club", :class => "btn btn-success btn-large"	 %> </p>

 <% end %>

   

</div>



