<%= stylesheet_link_tag "bootstrap.css" %>

<script type = "text/javascript">
function setValue(button, target) {

$(target).val(button.attr('name'));
button.closest('p').find('.btn-primary').removeClass('btn-primary');
button.addClass('btn-primary');

return false;
}

</script>


<%= render 'shared/error_messages' %>

<div class="grid_11 singleleft">
<div class="createwelcome">
<div class="formwelcome">
<div class="bigtitle">We help creatives promote their work</div>
<div class="grid_top">
<p>Snowball is a  crowdmarketing platform which helps creatives leverage social media to promote their project. We're excited to help promote your project- tell us a little bit about it below.</p>
</div>
</div>
</div>

<div class="projectbox">


<fieldset class = "control-group">

<%= simple_form_for @project, :validate => true, :html => { :multipart => true } do |f| %>

	<h2>1. Project Details</h2>
	<p>Your project is unqiue- tell your fans why it's so special!</p>
	<hr>

	<%= f.hidden_field :user_id, :value => @user.id%>
	<p><%= f.hidden_field :tag1, :value => "Book" %> 
	<label>Project Category</label>
	<a class = "btn btn-primary" name = "Book"  onClick="setValue($(this), '#project_tag1')">Book</a>
	<a class = "btn"  name = "Fitness" onClick="setValue($(this), '#project_tag1')">Fitness</a>
	<a class = "btn"  name = "Music" onClick="setValue($(this), '#project_tag1')">Music</a>
	<a class = "btn"  name = "Art" onClick="setValue($(this), '#project_tag1')">Art</a>
	<a class = "btn"  name = "Food" onClick ="setValue($(this), '#project_tag1')">Food</a>
	<a class = "btn" name = "Event" onClick ="setValue($(this), '#project_tag1')">Event</a>
	<span class = "help-inline">Tip: Pick the category that best fits what you're promoting.</span> </p>
	

	    
	
   <p> <%= f.input :project_title, :hint => "Tip: Choose a catchy and descriptive title between 5-100 characters." , :label => "Project name",  :input_html => { :class => 'text'} %> </p>
   <p><%= f.input :description, :hint => "Tip: Explain what your project is about. Be interesting and give your fans an insight into what you've been working on. Between 50-1000 characters." %> </p>   
 	<p><%= f.input :file1, :label => "Cover Image", :hint => "Tip: Ideal dimensions: 600px x 400px. JPEG and PNG accepted. Maximum size of 2 MB." , :validate => false	%> </p>
      <%= f.hidden_field :file1_cache %>

<h2>2. Reward Details</h2>
<p>This is the reward your fans will receive when they share your work- make it something they want!</p>
<hr>
<p> 
<%= f.hidden_field :promotion_type, :value => "Coupon" %>
	<label>Promotion Type</label>
	<a class = "btn btn-primary" name = "Coupon"  onClick="setValue($(this), '#project_promotion_type')">Coupon</a>
	<a class = "btn"  name = "E-book" onClick="setValue($(this), '#project_promotion_type')">E-book</a>
	<a class = "btn"  name = "Special Offer" onClick="setValue($(this), '#project_promotion_type')">Special Offer</a>
	
	<span class = "help-inline">Tip: Pick the category that best fits the reward you are offerring.</span> </p>
	
 <p> <%= f.input :promotion_description, :hint => "Enter a short, under 50 character description of what you are offering" %></p>
 <p><%= f.input :promotion_limit, :hint => "Tip: The number of rewards you want to give away.", :label => "Reward Limit" %> </p>
 <p> <%= f.input :file2, :label => "Reward", :hint => "Tip: Maximum file size of 10 MB. Eligible fans will be able to download this. Examples include ebooks and digital coupon. Please use PDF and epub files." , :label => "Reward File" %> </p><br>
	<%= f.hidden_field :file2_cache %>

<h2>3. Purchase Details </h2>
<p>Once your reward limit is reached, fans will be able to purchase your product. If you sell the product, include the purchase link here.</p>
<hr>
<p><%= f.input :purchase_link, :hint => "Tip: Enter the full address of a site selling your product" %></p>
 <p> <%= f.submit :class => "btn btn-success btn-large"	 %> </p>

 <% end %>

   

</div>
</div>



<div class="grid_4 righthome">
<div class="categorybox">
<div class="howitworkscreate">
<h6>How it Works</h6>
<br />
<div class="grid_4">
<b>Step 1: Add Details</b>
<p>Submit details about your project. </p>
<b>Step 2: Finalize Image</b>
<p>
Finalize the image for your project.</p>
<b>Step 3: Your Bio</b>
<p>
Confirm and edit your bio.
</p>
<br />
Other questions? Take a look at our <a href="/faq">FAQs page.</a>
<br />
<br />
</div>
</div>
</div>
</div>


