<%= stylesheet_link_tag "bootstrap.css" %>


<div class="container_16 padding50">
<div class="grid_16">
</div>
<%= render 'shared/error_messages' %>
<div class="grid_11 singleleft">

<div class="createwelcome">
<div class="productdata">
<div class="bigtitle">We help creatives promote their work</div>
<div class="grid_top">
<p>Narrately is a social marketing platform which helps authors connect with their fans and promote their books</p>
<p>Display three step process here</p>
</div>
</div>
</div>

<div class="projectbox">
<fieldset class = "control-group">

<%= simple_form_for @project, :validate => true do |f| %>
	<h2>1. Project Details</h2>
	<p>Let your fans know what you're working on - include some basic info here</p>
	
	
	

	<%= f.hidden_field :user_id, :value => @user.id %>
   <p> <%= f.input :project_title, :hint => "Tip: Use a catchy title between 10-100 characters" , :label => "Project name",  :input_html => { :class => 'text'} %> </p>
   <p><%= f.input :description, :hint => "Tip: Be interesting... and use 100-1000 characters" %> </p>   
   <p><%= f.input :tag1, :collection => ['Book', 'Food', 'Special Offer'], :as => :radio, :label => "Type", :input_html => {:class => "btn"} %> </p>	       
 	<p><%= f.input :project_image	%> </p>

   
<h2>2. Reward Details</h2>
<p>This is the reward your fans will receive when they share your work- make it count!</p>
 <p><%= f.input :promotion_limit, :hint => "Tip: The number of rewards you want to give" %> </p>
 <p> <%= f.input :output_file, :hint => "Tip: Eligible fans will get a link to download this" %> </p><br>
 

<h2>3. Purchase Details </h2>
<p>Once your reward limit is hit, fans will be able to purchase your product</p>
<p><%= f.input :purchase_link, :hint => "Tip: Enter the full address of a site selling your product" %></p>
 <p> <%= f.submit :class => "btn btn-success btn-large"	 %> </p>

 <% end %>

    

</div>
</div>



<div class="grid_4 righthome">
<div class="categorybox">
<div class="howitworkscreate">
<h6>How it Works</h6>
<div class="grid_4">
<b>Step 1:</b>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<b>Step 2:</b>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<b>Step 3:</b>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
</div>
</div>
</div>
</div>


</div>