
   
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
   
   
   
   
   <div class="grid_11 singleleft">
   <div class="projectbox">
 <div class="bigtitle"><%= @project.project_title %></div> 
 <div class = "caption"> A <%= @project.tag1 %> project by <%= link_to @creator.name, @creator %>, available
 at <%= link_to @project.purchase_link, @project.purchase_link %> </div>
 <% if @user == @creator %>
 <span><%= link_to "Edit Project", edit_project_path(@project) %></span>
 <% end %>
  <div class="lines"></div>
  
  <div class="mainimg" >
			<% if @project.video.present? %>
					<% begin %>
					<% video = @project.video_link %>
					<iframe width="600" height="391" src= "<%= video %>" frameborder="0" allowfullscreen > </iframe>
					<% rescue %>
					<%= image_tag @project.file1_url(:large) %>
					<% end %>
					<% else %>
					
  			<%= image_tag @project.file1_url(:large) %>
			<% end %> 
			
			</div>
  
  
  <div class="productdata">
  <h3>About The Vision</h3>
   <div class = "productdescription"><%= simple_format(@project.description)%> </div>
   <h3>Believe in the vision? Here's what you can do to help</h3>
   <div class = "bottomcallout"><b>Be part of the movement.  <%= link_to "Back this project now", new_project_share_path(@project) %> to get 
   <%= @project.promotion_description %></b>.  Then check back here often for updates and additional actions you can take to help make this vision a reality.  </div>
  </div>
  </div>
  
  
  <div class="projectshare">
  <div class="productdata">
  <h3>Support from Backers</h3>
  <div class="grid_10">
  <% @shares.select{|s| s.medium == "Twitter" && s.twittercode.present?}.each do |t| %>
  <div><%= t.twittercode.html_safe %> </div>
  <% end %>
  
  <% @shares.select{|s| s.medium == "facebook" && s.share_id.present?}.each do |t| %>
  <ul class = "fbcomment">
  	<li>
  	<div id = "profileImage" style = "margin-top:10px; margin-left:10px; float:left; width:50px; height:200px;" > 
	<% if t.user.profile_image.present? %>
  <%=  image_tag(t.user.profile_image, :size => "50x50") %>  <% end %></div>
	
  	<div id = "fbpostcontainer" style = "float:left; margin-left:10px; width:420px;" >
 		<%=image_tag "facebookicon.png", :style=>"float:right; padding-top:8px"%>
  		<div id = "name" style = "margin-left:15px; margin-top:12px; font-size:14px; font-weight:bold;"><%=t.user.name%> </div>
  		<div id = "post_title" style = "clear:both; margin-top:10 px; margin-left:15px; font-weight:bold;"><%=@project.project_title%> </div>
  		<div id = "post_image" style = "float:left; margin-top:10px; margin-left:10px;">
			
					
  			<%= image_tag @project.file1_url(:medium), :size => "100x68" %>
			
  		</div>
  		<div id = "postdescription" style = "float:left; margin-top: 8px; margin-left:10px; width:300px;"> <%=simple_format(@project.description.first(120)) + '...' %></div>
  		</div>
  </li>
  <%end %>
  
  </div>
  </div>
  </div>
  
  </div>
  
  <div class="grid_4 righthome">
  
  <div class="categorybox">
  <div class="sharebox">
  <div class="sharetitle">Back & Get Reward</div>
  <div class="tagit">
  
  <% if @promotions_clear %>
  <%= link_to "Back it!", new_project_share_path(@project), :class => "shareit" %>
 
  <% else %>
  <%= link_to "Buy Now!", url_for(@project.purchase_link), :class => "shareit" %>
  	<% end %>
	 <span class="leftonpage"><span class="saleleft">LEFT:</span><%= @project.left %></span>
  </div>
  
 
<div class="infospan3"><b>What this site is about:</b>
  <span>Projects need passionate fans to thrive. By clicking 'Back it' you are agreeing to
	support this project by talking it up online and offline.  </span>	
</div>

<div class="infospan3"><b>What you get:</b>
<span><%= @project.promotion_description %></span></div>  

<div class ="infospan3"><b>How it works:</b> 
<span> Just click the green button above and you will be asked to login w/ twitter or FB. Share this link with your friends, 
and you receive a link to download the reward for free! </span>  
</div>

 
  </div></div>
  
  
  
  <div class="categorybox">
  <div class="authordata">
  <div class="authordatatitle">About Creator</div>
  <div class="grid_4">
  <%= link_to image_tag(@creator.profile_image,  :class=> "alignnone size-full wp-image-16236"), @creator  %>
  <h3><%= link_to @creator.name, @creator %></h3>
  <p><%=@creator.biography %></p>

  <ul>
  <% if @creator.facebook_page.present? %>
 <li><a href="<%= @creator.facebook_page_link %>" >Facebook</a></li>
 <% end %>
 <% if @creator.twitter_handle.present? %>
 <li><%= link_to "Twitter", "http://twitter.com/#!/" + @creator.twitter_handle.sub('@', '') %> </li>
 <% end %>
 </ul>
 </div>
 </div>
 </div>
 <div class="categories-widget">
 <div class="categorybox sellers">
 <div class="backerstitle">Backers</div>
 <ul>
<% @shares.each_slice(4) { |sl| %>
<li>
 <% sl.each do  |s| %>
 <%= if s.user.profile_image? 
 link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user 
 end %>
 <% end %> 
 </li>
 <% } %>
 
 </ul>
 </div>
 </div>
 </div>
 
