<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
    
       
<div class="container_12 grid_8">


<div class="clubbox">
<div class="namebox">
<div class="hometitle3"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> <%= @callout_name %></p>
<p>
<% if @creator == @user %>
<%= link_to "Publish an update to your fans", new_project_action_page_path(@project) %> 
</p>
<p>
<%= link_to "Edit fan club", edit_project_path(@project) %>
<% end %> 
</p>
</div> 
</div>
</ul>
<%= render 'shared/error_messages' %>

<div class="mainimg2" >
			<% if @project.video.present? %>
					<% begin %>
					<% video = @project.video_link %>
					<iframe width="600" height="391" src= "<%= video %>" frameborder="0" allowfullscreen > </iframe>
					<% rescue %>
					<%= image_tag @project.file1_url(:large) %>
					<% end %>
					<% else %>
					
  			<%= image_tag @project.file1_url(:large) %>
			<% end %> 		
</div>
</div>
    
    
    
<div class="projectbox">
<h2>Fan Club Description</h2>
<div class = "productdescription"><%= simple_format(@project.description)%> </div>
<h3>Believe in the vision? Here's what you can do to help</h3>
<div class = "productdescription"><p>Be part of the movement.<b>  <%= link_to "Back this project now", new_project_share_path(@project) %> </b>to get 
<% if @project.promotion_description.empty? %> 
access to exclusive rewards and events 
<% else %>
<%= @project.promotion_description %>
<% end %>.  Then check back here often for updates and additional actions you can take to help make this vision a reality. </p> 
</div>
</div>    

<div class="projectbox">
<h2>Say hello to the community!</h2>
<div class="fb-comments" data-href= <%= request.fullpath %> data-num-posts="2" data-width="430"></div>
</div>      


<ul class="brandactions">
<% @acts .each do |e| %>
<li>
<div class="featuredaction"></div>
<%= render :partial => "shared/actions", :locals => {  :action => e } %>
</li>
<% end %>
</ul>



</div>


  
<div class="grid_right">


<div class="projectmembers">
<h2><%= @callout_name %> </h2>
<ul>
<% @shares.first(12) .each_slice(4) { |sl| %>
<li class="memberspicture">
 <% sl.each do  |s| %>

<%= link_to image_tag(s.user.profile_square), s.user, :class => "memberspicture" %>
 </li> 
 <% end %>

 <% } %>
 </ul>

<div class="centerbutton">
<%= link_to @callout, new_project_share_path(@project), :class => "btn btn-large btn-primary" %>
<% if @project.promotion_description.present? %>
<h3>Reward for <%= @callout_verb %>ing</h3>
<p><%= @project.promotion_description %></p>
<% end %>
</div>
</div>

<div class="programinfo"> 
<h2 style = "line-height:22px;">Why <%= @callout_verb %> <%= @project.brand_name %>?</h2>
<p>
<ul>
<li>Use your social capital to back a great brand</li>
<li>Receive exclusive access to discounts and rewards</li>
<li>Be the first to know about all <%=@project.brand_name %> news</li>
</p>
</div>     



</div>
