<h1>Project Page</h1>
<p>Find me in app/views/projects/show.html.erb</p>
<p>Hello! Some sample code to test functionality / database integration </p>
<div>Title: <%= @project.project_title %></div>
<div>Description: <%= @project.description %> </div>
<div>Creator: <%= link_to @user.name, @user %> </div>
<div>
<%= image_tag @project.project_image.url %> </div>

<div><%= link_to "SHARE!", new_project_share_path(@project) %> </div>