<%= stylesheet_link_tag "bootstrap.css" %>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>




<div class="grid_11 singleleft">
<div class="projectbox">
<div class="bigtitle"><%= @project.project_title %></div>
<div class="lines"></div>

<div class="mainimg" ><%= image_tag @project.project_image.url(:large) %> </div>


<div class="productdata">
<h3>Project Category: <%= @project.tag1 %></h3>
<br>
<h3>About This Project</h3>
<%= @project.description %>
</div>
</div>


<div class="projectshare">
<div class="productdata">
<h3>Support from Backers</h3>
<div class="grid_10">
<% @shares.select{|s| s.medium == "Twitter" && s.share_id.present?}.each do |t| %>
<div><%= Twitter.oembed(t.share_id.to_i).html.html_safe %> </div>
<% end %>

<% @shares.select{|s| s.medium == "facebook" && s.share_id.present?}.each do |t| %>
<ul class = "fbcomment">
	<li >
<div > 
	<div id = "profileImage" style = "margin-top:10px; margin-left:10px; float:left; width:50px; height:200px;" > 
	<%= link_to image_tag(t.user.profile_image, :size => "50x50"), "http://facebook.com/" + t.user.facebook_id.to_s %> </div>
	<div id = "fbpostcontainer" style = "float:left; margin-left:10px; width:375px;" >
		<div id = "name" style = "margin-left:15px; margin-top:12px; font-size:14px; font-weight:bold;"><%=t.user.name%> </div>
		<div id = "post_title" style = "clear:both; margin-top:10 px; margin-left:15px; font-weight:bold;"><%=@project.project_title%> </div>
		<div id = "post_image" style = "float:left; margin-top:10px; margin-left:10px;">
			<%= image_tag @project.project_image.url(:medium), :size => "100x68" %>
		</div>
		<div id = "postdescription" style = "float:left; margin-top: 8px; margin-left:10px; width:230px;"> <%=@project.description.first(120) + '...' %></div>
		</div>
</div>
</li>
<%end %>

</div>
</div>
</div>

</div>

<div class="grid_4 righthome">

<div class="categorybox">
<div class="sharebox">
<h3>Share & Get Reward</h3>
<div class="tagit">
<a href= <%= if @promotions_clear 
				new_project_share_path(@project) 
               else 'http://' + @project.purchase_link 
			   end %>><span class="leftonpage"><span class="saleleft">LEFT:</span><%= @project.left %></span></a>
<% if @promotions_clear %>
<%= link_to "Share Now!", new_project_share_path(@project), :class => "shareit" %>
<% else %>
<%= link_to "Buy Now!", 'http://' + @project.purchase_link, :class => "shareit" %>
	<% end %>
</div>

<div class="grid52">

<div class="infospan2">Reward: <span><%= @project.promotion_type %></span></div>

<div class="infospan2">Total:<span><%= @project.promotion_limit %></span></div>
<div class="infospan2">Left:<span><%= @project.left %></span></div>
<div class="infospan3"><b>Details:</b><span><%= @project.promotion_description %></span></div>



</div>
</div>
</div>



<div class="categorybox">
<div class="authordata">
<h3>About Creator</h3>
<div class="grid_4">
<%= image_tag @creator.profile_image, :title=> "facebook", :width=> 220, :height=>220, :class=> "alignnone size-full wp-image-16236" unless @creator.profile_image.nil? %>
<h3><%= link_to @creator.name, @creator %></h3>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<p><b>I am a:</b> Author</p>
<ul>
<li><a href="https://www.facebook.com/alex.h.frey">Facebook</a></li>
<li><a href="https://twitter.com/#!/alexhfrey">Twitter</a></li>
</ul>
</div>
</div>
</div>
<div class="categories-widget">
<div class="categorybox sellers">
<h3>Backers</h3>
<ul>
<li>
<% @shares.first(4).each do  |s| %>
<%= link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user %>
<% end %> 
</li>

<li>
<% @shares[5..8].each do |s| %>
<%= link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user %>
<% end unless @shares[5..8].nil? %>
</li>
<li>
<% @shares[5..8].each do |s| %>
<%= link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user %>
<% end unless @shares[9..12].nil? %>
</li></ul>
</div>
</div>
</div>

