<script type = "text/javascript">
$('#myTab').tab('show'); 
$(function () {
    $('.tabs a:last').tab('show')
  })
</script>
   <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>

	   
	    
       <div class="namebox">
      <div class="hometitle3"><%= @project.project_title %> <p><%= @project.brand_name %> - <%= @project.shares.count %> Members</p>
       </div> 
	   </div>
	   
<div class="clubbox">
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "About", (@project), "data-toggle"=>"tab" %></li>
  <li><%= link_to "Members Home", backers_project_path(@project), "data-toggle"=>"tab" %></li>
     <% if @user == @creator %>
       <li><%= link_to "Edit", edit_project_path(@project), "data-toggle"=>"tab" %></li>
  <% end %>
</ul>
<%= render 'shared/error_messages' %>
          <div class="programinfo"> 

    
       <%= simple_format(@project.short_description)%>
         <h3>Why Become an Ambassador?</h3>
         <p>
         1. Because you support what we're doing
         <br>
         2. You'll get free goodies!
         <br>
         3. Access to founders and other supporters 
         </p>

  <%= link_to "Join Now", new_project_share_path(@project), :class => "joinnow" %>
 

  	</div>
  	
  	 <div class="mainimg2" >
			<% if @project.video.present? %>
					<% begin %>
					<% video = @project.video_link %>
					<iframe width="600" height="391" src= "<%= video %>" frameborder="0" allowfullscreen > </iframe>
					<% rescue %>
					<%= image_tag @project.file1_url(:large) %>
					<% end %>
					<% else %>
					
  			<%= image_tag @project.file1_url(:large) %>
			<% end %> 
			
			</div>

    </div>
    
<div class="projectmembers">
<h1>Club Members</h1><p><%= link_to "Become a Member", new_project_share_path(@project)%></p>
<ul>
<% @shares.each_slice(16) { |sl| %>
<li class="memberspicture">
 <% sl.each do  |s| %>

<%= link_to image_tag(s.user.profile_square), s.user, :class => "memberspicture" %>
 </li> 
 <% end %>

 <% } %>
 </ul>
</div>
    
   <div class="projectbox">
     <h1>Fan Club Description</h1>
   <div class = "productdescription"><%= simple_format(@project.description)%> </div>
   <h3>Believe in the vision? Here's what you can do to help</h3>
   <div class = "bottomcallout">Be part of the movement.  <%= link_to "Back this project now", new_project_share_path(@project) %> to get 
   <%= @project.promotion_description %></b>.  Then check back here often for updates and additional actions you can take to help make this vision a reality.  
   </div>
  </div>
    
       <div class="projectbox">
    <div class="discoverbox">
	<ul class="brandactions">
<h1>Featured actions</h1>
<p>Ambassadors get access to unique missions they can lead on behalf of the startup. Members may get cool goodies!</p>
	<% ActionPage.find_all_by_project_id(@project.id) .each do |en| %>
	<li>
	<%= render :partial => "shared/actions", :locals => {  :action => en } %>
	</li>
	<% end %>
	
  </ul>
  </div>
  </div>
    
  
  </div>
  </div>
  

 
