<%= stylesheet_link_tag "bootstrap.css" %>

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>


<div class="container_16 padding50">

<div class="grid_11 singleleft">
<div class="projectbox">
<div class="bigtitle"><%= @project.project_title %></div>
<div class="lines"></div>
<div class="productimages">
<div class="mainimg" ><%= image_tag @project.project_image.url(:large) %> </div>
</div>

<div class="productdata">
<h6>About This Project</h6>
<%= @project.description %>
</div>
</div>


<div class="projectshare">
<div class="productdata">
<h4>Supporter Props</h4>
<div class="grid_10">
<% @shares.select{|s| s.medium == "twitter" && s.share_id}.each do |t| %>
<div><%= Twitter.oembed(t.share_id).html.html_safe %> </div>
<% end %>

</div>
</div>
</div>

</div>
<div class="grid_4 righthome">


<div class="categorybox">
<div class="sharebox">
<h3>Endorse & Earn Reward</h3>
<div class="grid52">
<a href= <%= new_project_share_path(@project)%>><span class="onsaleleft"><span class="saleleft">LEFT:</span><%= @promotions_left %></span></a>

<div class="infospan2">Reward: <span>Free Book</span></div>

<div class="infospan2">Total:<span><%= @project.promotion_limit %></span></div>
<div class="infospan2">Left:<span><%= @promotions_left %></span></div>
<% if @promotions_clear %>

	<%= link_to "Share it!", new_project_share_path(@project), :class => "shareit" %>
<% else %>
	<%= link_to "Buy it!", 'http://' + @project.purchase_link, :class => "shareit" %>
	<% end %>


</div>
</div>
</div>



<div class="categorybox">
<div class="authordata">
<h3>About Author</h3>
<div class="grid_4">
<%= image_tag @creator.profile_image, :title=> "facebook", :width=> 220, :height=>220, :class=> "alignnone size-full wp-image-16236" unless @creator.profile_image.nil? %>
<h3><%= link_to @creator.name, @creator %></h3>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<ul>
<li><a href="https://www.facebook.com/alex.h.frey">Facebook</a></li>
<li><a href="https://twitter.com/#!/alexhfrey">Twitter</a></li>
</ul>
</div>
</div>
</div>
<div class="categories-widget">
<div class="categorybox sellers">
<h6>Supporters</h6>
<ul>
<li>
<% @shares.first(4).each do  |s| %>
<%= link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user %>
<% end %>
</li>

<li>
<% @shares[5..8].each do |s| %>
<%= link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user %>
<% end unless @shares[5..8].nil? %>
</li>
<li>
<% @shares[5..8].each do |s| %>
<%= link_to image_tag(s.user.profile_image, :class => "smallpreview" ), s.user %>
<% end unless @shares[9..12].nil? %>
</li></ul>
</div>
</div>
</div>


</div>