



<%= simple_form_for([@project, @release], :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>
<p class="hometitle4">Launch your work virally</p>
	<p class="titlepromo"><b>Here's how this works:</b> 
	<li> You upload a special edition, preview, or coupon file below and tell us a little about it </li>
	<li> To claim the file, your fans will have to post it to facebook, making it visible to 150 other people on average in the process. </li>
	<li>Some of those 150 people might be interested as well (hence the term - "viral")! </li>
	<li>We automatically record the email address of everyone that shares through facbeook </li>
	</p>
	<p class="titlepromo">Need help? Send us an email: 
	<a href="mailto:support@mysnowball.com">support@mysnowball.com</a>.</p> </p>
  <div class="inputs">
    <p><%= f.input :name, :label => "Title of Your Promotion" %></p><p class="helptext">Give your promotion a name</p>
    <p><%= f.input :content, :required => false, :label => "The file you want to give away" %></p><p class="helptext">This could be a PDF of the first three chapters of your book, an MP3 of your latest single, a coupon, or just about anything else downloadable</p>
		<%= f.hidden_field :content_cache %>
	<p><%= f.input :image, :label => "A Cover Image", :required => false%></p><p class="helptext">This will be the news feed image when your work is shared, so pick something appropriate</p>
	 <%= f.hidden_field :image_cache %>
   <p><%= f.input :description, :label => "Give a brief description or message that will be shared on facebook", :input_html => {:size => "20x11"}%> </p><p class="helptext">You could use a short bio here</p>   
  </div>

  <div class="actions">
    <%= f.button :submit,  "Submit", :class => "btn btn-large btn-success" %>
  </div>
<% end %>

