<!DOCTYPE html>
<html lang="en">
<head>
<%= stylesheet_link_tag "reset.css" %>
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "960.css" %>
<%= stylesheet_link_tag "text.css" %>
<link rel="icon" type="image/png" href="http://narrately.com/images/myicon.png" />

<%= javascript_include_tag :all %>
<%= csrf_meta_tag %>

<meta charset="utf-8" />
<title>Narrately</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
</head>
<body>
<div class="header">
<div class="container_16">
<div class="grid_10 logo">
<a href="index.html"><%=image_tag "logo.png" %></a>
</div>
<div class="grid_6">
</div>
<div class="grid_16 menu">

<ul class="menu1">
<% page = request.request_uri %>
<li><a href="index.html" <%= if page.include? "home" 
								print('class="active"') 
								else 
								end %> >Home<span>&nbsp;</span></a></li>
<li><a href="create.html" <%= if page.include? "new" 
								print('class="active"') 
								else 
								end %> >Share Your Work</a>
</li>
<li><a href="discover.html"> <%= if page.include? "discover" 
									print('class="active"') 
									else 
									end %> Discover Great Work</a></li>
<li><a href="howitworks.html"> <%= if page.include? "howitworks" 
									print('class="active"') 
									else 
									end %> How it Works</a></li>
</ul>

<ul>
<ul class="menu2">
<li><%= if current_user 
			link_to "logout", signout_path, :class => "menu2li" else end %>
			<%= if current_user.nil?  
			link_to "Login", signin_path, :class => "menu2li" else end%>
			</li>
			<% if current_user.nil? %>
			<li>
			<%=link_to "Sign Up", signup_path, :class => "menu2li" %> </li>
			<% end %>
			
			

</ul>
</div>
</div>

</div></div></div>
<!--end header -->



<%= yield %>

<div class="footer">
<div class="container_16">
<div class="grid_13">
<ul class="footermenu">
<li><a href="index.html">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="create.html">Create</a></li>
<li><a href="howitworks.html">How it Works</a></li>
<li><a href="contact.html">Contact us</a></li>
</ul>
</div>
<div class="grid_13">
<ul class="footermenu">
<li><a href="http://www.facebook.com/narrately">Facebook</a></li>
<li><a href="http://www.twitter.com/narrately">Twitter</a></li>
<li><a href="http://narrately.tumblr.com/">Tumblr</a></li>
</ul>
</div>
<span class="copyline"> &copy; Narrately, Inc.</span>
</div>


<div class="grid_3">
</div>
</div>
</div>
<!-- end .container_16 -->
</body>
</html>